{% extends 'core/base.html '%}


{% block title %}{{ page_title }} | {% endblock title %}


{% block content %}
<!-- İNFO -->

<div class="container">
    
        <div class="jumbotron info">
          <div class="lead"><h1>Biz Kimiz?</h1>
            
            <p>KSBU Bilgisayar Topluluğu 2023 yılında kurulmuş, KSBU SAĞLIK KÜLTÜR VE SPOR DAİRE BAŞKANLIĞI denetiminde varlığını sürdüren bir öğrenci topluluğudur. Akademik danışmanı, KSBU Bilgisayar Mühendisliği Bölümü öğretim üyelerinden Asst. Prof. EMRE GÜNGÖR'dür. Topluluğumuz yaptığı çalışmalar, geliştirdiği ve geliştirmekte olduğu projeler ve düzenlediği etkinliklerle sosyal, çağdaş ve alanında öncü bir topluluk olmayı amaçlamaktadır.</p>
            
  <div class="my-3 text-center" style="position: relative; width:100%; padding-top: 56.25%;"><iframe style="position: absolute; top: 0; left: 0; width:100%; height: 100%;" src="https://www.youtube.com/embed/4rOCPW8DuIg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
  
  <hr />
  
  <h3>Amaçlarımız</h3>
  
  <ul>
  <li>Akademik düzeyde eğitim alan öğrencilerin bilgisayar bilimleri konusundaki sorularına yanıt vermek ve öğrencileri bilgisayar bilimine ve bilişime teşvik etmek</li>
  <li>Bilgisayar mantığını, teknolojisi, işlevi ve diğer bütün yönleriyle tanıtmak ve yaymak</li>
  <li>Bilgisayarla ilgilenen ve ilgilenmek isteyenleri aynı çatı altında toplamak, profesyonel bakış açısını ve öğrenci bakış açısını, tecrübe ve isteği bir araya getirmek</li>
  <li>Üniversite öğrencilerinin gelişen bilişim teknolojilerine uyum sağlamasına yardımcı olmak</li>
  <li>Bilişim kamuoyunun oluşması ve bu konuda toplum bilincinin şekillenmesi için yürütülen çalışmalara Germiyan kampüsünün imkanlarını en iyi şekilde kullanarak gereken katkıyı sağlamak </li>
  <li>Konferans, yarışma, eğitim, çalışma grupları vb. etkinlikleri düzenlemek</li>
  <li>Sosyal sorumluluk projelerinde yer almak</li>
</ul>
  
  <p><a href="#">Topluluk Tüzüğü</a></p>
</div>
</div>
</div>
        <!-- İNFO END-->
        
{% endblock %}