{% extends 'core/base.html '%}


{% block title %}{{ page_title }} | {% endblock title %}


{% block content %}
<!-- ANNOUNCEMENTS -->

<div class="container">
      

  <div class="jumbotron info announcements">
    <h1 class="announcements-title">Duyurular</h1>
        
          
            <hr class="my-3">
            
            <div class="announcement">
              <h2 class="mb-4">1. Geleneksel Programlama Yarışması</h2>
        
              <div class="jumbotron-content row">
                
                  <div class="col col-12 col-lg-6">
                    <img class="mr-4" src="https://picsum.photos/id/136/200/200">
                  </div>
                  
        
                <div class="col col-12 col-lg-6">
                  <p>KSBU Bilgisayar Topluluğu, Geleneksel Programlama Yarışması'nın 1'incisini gururla sunar!</p>
                  
        <p>Bu sene, toplamda <strong>36 saat</strong> sürecek olan yarışmanın ön eleme etabı <strong>29 Nisan Cumartesi</strong> günü saat <strong>12.00</strong>'de başlayıp <strong>30 Nisan Pazar</strong> günü saat <strong>23.59</strong>'da bitecek. Final etabı ise <strong>10 Haziran Cumartesi</strong> günü olacak. Yarışmaya <strong>bireysel</strong>, <strong>2 kişilik</strong> ya da <strong>3 kişilik</strong> takımlar halinde katılabilirsiniz.</p>
        
        <p><strong>26 Nisan</strong> tarihine kadar başvuruları devam eden Geleneksel Programlama Yarışması hakkında ayrıntılı bilgi almak ve başvurmak için <a href="#form">Geleneksel Programlama Yarışması</a> sayfasını ziyaret edebilirsiniz.</p>
        
        <p>Herkese başarılar dileriz 🏆.</p>
        
                </div>
              </div>
            </div>
          
            <hr class="my-3">
        
            <div class="announcement">
              <h2 class="mb-4">Geleneksel Programlama Yarışması&#x27;nın Ertelenmesi</h2>
        
              <div class="jumbotron-content row">
                
                  <div class="col col-12 col-lg-6">
                    <img class="mr-4" src="https://picsum.photos/id/237/150/150">
                  </div>
                
        
                <div class="col col-12 col-lg-6">
                  <p>İçinde bulunduğumuz durumdan dolayı Geleneksel Programlama Yarışması'nı daha ileri bir tarihe ertelemeye karar verdik. Yeni tarihi belirlediğimizde sizlere duyuracağız.</p>

        <p>Hepimize geçmiş olsun.</p>
        
      </div>
              </div>
            </div>
          
            <hr class="my-3">
        
            <div class="announcement">
              <h2 class="mb-4">ksbu_index_kod</h2>
              
              <div class="jumbotron-content row">
                
                <div class="col col-12 col-lg-6">
                    <img class="mr-4" src="https://picsum.photos/id/237/150/150">
                  </div>
                  
                </div>
              </div>
    </div>
  
</div>


</div>
<!-- ANNOUNCEMENTS END -->

{% endblock %}