{% extends 'core/base.html '%}


{% block title %}{{ page_title }} | {% endblock title %}


{% block content %}

<div class="container">
  
      <!-- Yazılım Ekibimiz -->
      <div class="row my-4">
        <div class="col-sm-12">
          <h2>Yazılım Ekibimiz</h2>
          <hr>
        </div>
        <div class="col-sm-3 mb-2">
          <div class="card">
            <img src="https://picsum.photos/id/149/400/250" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Emre Güngör</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        
        <div class="col-sm-3 mb-2">
          <div class="card">
            <img src="https://picsum.photos/id/49/400/250" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Semih Ocaklı</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        
        <div class="col-sm-3 mb-2">
          <div class="card">
            <img src="https://picsum.photos/id/49/400/250" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Barış Güleç</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
    
        <div class="col-sm-3 mb-2">
          <div class="card">
            <img src="https://picsum.photos/id/50/400/250" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Emre Sevindi</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Okul Dışı Etkinlikler Ekibi -->
        
          <div class="row my-4 justify-content-center">
            <div class="col-sm-12">
              <h2>Okul Dışı Etkinlikler Ekibimiz</h2>
              <hr>
            </div>
            <div class="col-sm-3 mb-2">
              <div class="card">
                <img src="https://picsum.photos/id/149/400/250" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Emre Güngör</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            
            
            <div class="col-sm-3 mb-2">
              <div class="card">
                <img src="https://picsum.photos/id/49/400/250" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Barış Güleç</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
      
            <div class="col-sm-3 mb-2">
              <div class="card">
                <img src="https://picsum.photos/id/50/400/250" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Emre Sevindi</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
          
 <!-- Sosyal Medya ve PR Ekibi -->
 
 <div class="row my-4 justify-content-center">
   <div class="col-sm-12">
     <h2>Sosyal Medya ve PR Ekibimiz</h2>
     <hr>
    </div>
    <div class="col-sm-3 mb-2">
      <div class="card">
        <img src="https://picsum.photos/id/149/400/250" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Emre Güngör</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    
    
    <div class="col-sm-3 mb-2">
      <div class="card">
        <img src="https://picsum.photos/id/49/400/250" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Barış Güleç</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
  </div>
  
  <div class="col-sm-3 mb-2">
    <div class="card">
      <img src="https://picsum.photos/id/50/400/250" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Emre Sevindi</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>

</div> 


{% endblock %}