{% extends 'core/base.html'%}


{% block title %}{{ page_title }} | {% endblock title %}


{% block content %}
    <!-- LINKS -->

    <div class="container">
      
  

        <div class="jumbotron info useful-links">
          <h1>Faydalı Linkler</h1>
        
          <hr class="my-4">
          <ul>
            
              <li>
                <a href="http://norvig.com/21-days.html" target="_blank">
                  
                    <i class="fa fa-book"></i>
                  
        
                  On Yılda Kendi Kendine Programlamayı Öğret
                </a>
              </li>
            
            
              <li>
                <a href="https://automatetheboringstuff.com/" target="_blank">
                  
                    <i class="fa fa-book"></i>
                  
        
                  Automate the Boring Stuff with Python - Yeni başlayanlar için Python kaynağı
                </a>
              </li>
            
              <li>
                <a href="https://web.stanford.edu/class/ee183/index.shtml" target="_blank">
                  
                    <i class="fa fa-book"></i>
                  
        
                  Stanford EE183 Advanced Logic Design Laboratory
                </a>
              </li>
            
        
              <li>
                <a href="https://github.com/prakhar1989/awesome-courses" target="_blank">
                  
                    <i class="fa fa-book"></i>
                  
        
                  Bilgisayar Bilimi Hakkında Kurs Listesi
                </a>
              </li>
            
              <li>
                <a href="https://www.class-central.com/" target="_blank">
                  
                    <i class="fa fa-book"></i>
                  
        
                  Popüler Online Kurslar
                </a>
              </li>
            
              <li>
                <a href="https://www.edx.org/course/cs50s-introduction-computer-science-harvardx-cs50x" target="_blank">
                  
                    <i class="fa fa-book"></i>
                  
        
                  CS50 - Harvard&#x27;ın Bilgisayar Bilimine Giriş Dersleri
                </a>
              </li>
            
              <li>
                <a href="http://pcg.wikidot.com/" target="_blank">
                  
                    <i class="fa fa-book"></i>
                  
        
                  Procedural Content Generation Wiki
                </a>
              </li>
            
              <li>
                <a href="https://www.redblobgames.com/grids/hexagons/" target="_blank">
                  
                    <i class="fa fa-book"></i>
                  
        
                  Hexagonal Grids
                </a>
              </li>
            
              <li>
                <a href="https://courses.edx.org/courses/course-v1:MITx+6.00.1x+2T2017_2/course/" target="_blank">
                  
                    <i class="fa fa-book"></i>
                  
        
                  MIT&#x27;nin Python ile Programlama Giriş Dersleri
                </a>
              </li>
            
              <li>
                <a href="http://www.scipy-lectures.org/" target="_blank">
                  
                    <i class="fa fa-book"></i>
                  
        
                  Scipy: Python for Science - Scipy Ders Notları
                </a>
              </li>
            
              <li>
                <a href="http://www.catb.org/esr/faqs/hacker-howto.html" target="_blank">
                  
                    <i class="fa fa-book"></i>
                  
        
                  Nasıl Hacker Olunur
                </a>
              </li>
            
              <li>
                <a href="https://chrisstephenson.org/moodle/" target="_blank">
                  
                    <i class="fa fa-book"></i>
                  
        
                  Chris Stephenson&#x27;un Bilgisayar Bilimleri Açık Ders Sitesi
                </a>
              </li>
            
              <li>
                <a href="https://www.youtube.com/channel/UCYO_jab_esuFRV4b17AJtAw/playlists" target="_blank">
                  
                    <i class="fa fa-youtube"></i>
                  
        
                  3Blue1Brown - Matematiği görsel bir bakış açısıyla anlatan bir Youtube kanalı
                </a>
              </li>
            
              <li>
                <a href="https://www.youtube.com/channel/UCW5YeuERMmlnqo4oq8vwUpg/playlists" target="_blank">
                  
                    <i class="fa fa-youtube"></i>
                  
        
                  The Net Ninja - Genelde web geliştiricilikle ilgili dersler bulunan Youtube kanalı
                </a>
              </li>
            
              <li>
                <a href="https://letsgolarval.wordpress.com/" target="_blank">
                  
                    <i class="fa fa-book"></i>
                  
        
                  Let&#x27;s Go Larval - Linux/Mac perspektifinden bir programcının maceraları
                </a>
              </li>
            
              <li>
                <a href="https://www.e-bergi.com" target="_blank">
                  
                    <i class="fa fa-floppy-o"></i>
                  
        
                  E-Bergi - Bilgisiyar bilimi için ODTÜ'lü öğrenciler tarafından oluşturulmuş Türkçe Kaynak :)
                </a>
              </li>
            
              <li>
                <a href="http://prog21.dadgum.com/93.html" target="_blank">
                  
                    <i class="fa fa-book"></i>
                  
        
                  Yirmi Birinci Yüzyılda Programlama
                </a>
              </li>
            
              <li>
                <a href="https://www.computer.org/cms/Computer.org/ComputingNow/homepage/0808/WhatHackersLearnThatTheRestOfUsDont.pdf" target="_blank">
                  
                    <i class="fa fa-book"></i>
                  
        
                  Hacker Müfredatı
                </a>
              </li>
            
              <li>
                <a href="https://cses.fi/book/index.html" target="_blank">
                  
                    <i class="fa fa-book"></i>
                  
        
                  Competitive Programcılık El Kitabı
                </a>
              </li>
            
              <li>
                <a href="http://gameprogrammingpatterns.com/contents.html" target="_blank">
                  
                    <i class="fa fa-book"></i>
                  
        
                  Oyun Programcılığı Modelleri
                </a>
              </li>
            
          </ul>
        </div>
        
            </div>

            <!-- LINKS END -->
            {% endblock %} 